

<%= simple_form_for @question, :url => { :action => "update", :id => @question.id} do |f| %>

   <p>All multiple choice questions must have one question and 5 possible responses. If you include Java code in your question, use the "Courier New" font to make it clear that it is code.</p>
  <div class = "row">
    <div class = "col-sm-12">
      <%= f.input :qtext, :label => "Question", :required => false, :as => :ckeditor, :default => @question.qtext%>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12">
      <%= f.input :a1text, :label => "a)", :required => false, :as => :ckeditor, :default => @question.a1text%>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12">
      <%= f.input :a2text, :label => "b)", :required => false, :as => :ckeditor, :default => @question.a2text%>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12">
      <%= f.input :a3text, :label => "c)", :required => false, :as => :ckeditor, :default => @question.a3text%>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12">
      <%= f.input :a4text, :label => "d)", :required => false, :as => :ckeditor, :default => @question.a4text%>
    </div>
  </div>
  <div class = "row">
     <div class = "col-sm-12">
      <%= f.input :a5text, :label => "e)", :required => false, :as => :ckeditor, :default => @question.a5text%>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-3">
      <%= f.input :answer, :label => "Select the Correct Answer", :required => false, collection: @answer, :default => @question.answer %>
    </div>
    <div class = "col-sm-4">
      <%= f.input :topic_id, :label => "Select a Topic", :required => false, collection: @topic, :default => @question.topic_id %>
    </div>
  </div>
  <br/>
  <%= f.submit "Edit Question", class: "btn btn-medium btn-success" %>
<% end %>

