<h3 style = "margin: 5px;"> Results </h3>
<div class="row", style = "border-bottom: 3px solid black;">
	<div class = "col-md-2">
		<p style = "font-size: 18px; font-weight: bold;">
			<%= link_to "Student Name", :controller => "questions", :action => "name"%>
		</p>
	</div>
	<div class = "col-md-1">
		<p style = "font-size: 18px; font-weight: bold;">
			<%= link_to "Number", :controller => "questions", :action => "number"%>
		</p>
	</div>
	<div class = "col-md-1">
		<p style = "font-size: 18px; font-weight: bold;">
			<%= link_to "Lab", :controller => "questions", :action => "lab"%>
		</p>
	</div>
	<div class = "col-md-1">
		<p style = "font-size: 18px; font-weight: bold;">
			<%= link_to "Topic", :controller => "questions", :action => "topic"%>
		</p>
	</div>
	<div class = "col-md-1 col-md-offset-3">
		<p style = "font-size: 18px; font-weight: bold;">
			<%= link_to "Flagged", :controller => "questions", :action => "flag"%>
		</p>
	</div>
	<div class = "col-md-3">
		<p style = "font-size: 18px; font-weight: bold;">
			<%= link_to "Grade", :controller => "questions", :action => "grade"%>
		</p>
	</div>
</div>
<% if @questions.any? %>
		<%= render partial: 'shared/flagquestions', collection: @questions %>
<% end %>