<div class = "row">
	<%= @question.qtext.html_safe %>
</div>
<div class = "row">
	<div class = "col-md-1" <% if @question.answer ==1 %> style = "border: 3px solid green; border-radius: 25px;" <% end %>>
		<p>a)</p>
	</div>
	<div class = "col-md-11">
		<%= @question.a1text.html_safe %>
	</div>
</div>
<div class = "row">
	<div class = "col-md-1" <% if @question.answer ==2 %> style = "border: 3px solid green; border-radius: 25px;" <% end %>>
		<p>b)</p>
	</div>
	<div class = "col-md-11">
		<%= @question.a2text.html_safe %>
	</div>
</div>
<div class = "row">
	<div class = "col-md-1" <% if @question.answer ==3 %> style = "border: 3px solid green; border-radius: 25px;" <% end %>>
		<p>c)</p>
	</div>
	<div class = "col-md-11">
		<%= @question.a3text.html_safe %>
	</div>
</div>
<div class = "row">
	<div class = "col-md-1" <% if @question.answer ==4 %> style = "border: 3px solid green; border-radius: 25px;" <% end %>>
		<p>d)</p>
	</div>
	<div class = "col-md-11">
		<%= @question.a4text.html_safe %>
	</div>
</div>
<div class = "row">
	<div class = "col-md-1" <% if @question.answer ==5 %> style = "border: 3px solid green; border-radius: 25px;" <% end %>>
		<p>e)</p>
	</div>
	<div class = "col-md-11">
		<%= @question.a5text.html_safe %>
	</div>
</div>
<div class = "row" style = "padding: 5px;">
	<%if !@question.submitted && current_user.user_id == @question.user_id%>
		<div class = "col-md-1">
			<%= link_to "Submit", {controller: "questions", action: "submit", id: @question.id}, class: "btn btn-mdall btn-success" %>
		</div>
		<div class = "col-md-1">
			<%= link_to "Delete", {controller: "questions", action: "hide", id: @question.id}, class: "btn btn-mdall btn-danger" %>
		</div>
		<div class = "col-md-1">
			<%= link_to "Edit", {controller: "questions", action: "edit", id: @question.id}, class: "btn btn-mdall btn-primary" %>
		</div>
	<% else %>
		<div class = "col-md-3">
			<% if @question.grade == "Review Pending" || @question.grade == "Correct" || @question.grade == "Incorrect" %>
				<%=@question.grade.html_safe %>
			<% else %>
				<p> TA comment: <%=@question.grade.html_safe %> </p>
			<% end %>
		</div>
	<% end %>
</div>