<%= simple_form_for @result, :url => { :action => "view" } do |f| %>
	<div class = "row">
		<div class = "col-sm-4">
      		<%= f.input :name, label: "Select a topic", collection: @topic %>
    	</div>
    	<div class = "col-sm-4">
      		<%= f.input :lab, label: "Select a lab section", collection: @lab %>
    	</div>
    </div>
    <%= f.submit "Find Practice Sessions", class: "btn btn-medium btn-success" %>
<% end %>
<% if @result.lab.empty? && @result.name.empty?%>
	<div class = "row">
		<h3 style = "margin: 5px;"> All Practice Stats </h3>
	</div>
	<div class = "row" style = "padding: 5px; margin-bottom: 5px;">	
		<div class = "col-md-4" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Student</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Lab</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Attempted</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Correct</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Percent</h4>
		</div>
		<div class = "col-md-2" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Average Time</h4>
		</div>
	</div>
	<%= render partial: 'shared/detailstats', collection: User.all, :locals => {:topic => nil} %>
<% elsif @result.lab.empty? %>
	<div class = "row">
		<h3 style = "margin: 5px;"> Practice Stats for <%= Topic.find(@result.name).name %> </h3>
	</div>
	<div class = "row" style = "padding: 5px; margin-bottom: 5px;">	
		<div class = "col-md-4" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Student</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Lab</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Attempted</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Correct</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Percent</h4>
		</div>
		<div class = "col-md-2" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Average Time</h4>
		</div>
	</div>
	<%= render partial: 'shared/detailstats', collection: User.all, :locals => {:topic => @result.name} %>
<% elsif @result.name.empty? %>
	<div class = "row">
		<h3 style = "margin: 5px;"> Practice Stats for <%= @result.lab %> </h3>
	</div>
	<div class = "row" style = "padding: 5px; margin-bottom: 5px;">	
		<div class = "col-md-4" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Student</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Lab</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Attempted</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Correct</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Percent</h4>
		</div>
		<div class = "col-md-2" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Average Time</h4>
		</div>
	</div>
	<%= render partial: 'shared/detailstats', collection: User.where(lab: @result.lab), :locals => {:topic => nil}%>
<% else %>
	<div class = "row">
		<h3 style = "margin: 5px;"> Practice Stats for <%= Topic.find(@result.name).name %>, <%= @result.lab %></h3>
	</div>
	<div class = "row" style = "padding: 5px; margin-bottom: 5px;">	
		<div class = "col-md-4" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Student</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Lab</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Attempted</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Correct</h4>
		</div>
		<div class = "col-md-1" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Percent</h4>
		</div>
		<div class = "col-md-2" style = "border-bottom: 1px solid black;">
			<h4 style = "margin: 5px;">Average Time</h4>
		</div>
	</div>
	<%= render partial: 'shared/detailstats', collection: User.where(lab: @result.lab), :locals => {:topic => @result.name}%>

<% end %>