<% if flagquestions.visible %>
	<div class = "row" style = "border-bottom: 1px solid black; padding: 5px;">
		<div class = "col-md-2">
			<% @user = User.find_by(:id => flagquestions.user_id) %>
			Submitted by: <%= @user.lname %>, <%= @user.fname %> 
			<% if !@user.assistant && !@user.instructor %>
				Student Number: <%= @user.studentnumber %>
			<% end %>
		</div>
		<div class = "col-md-1">
			<%= @user.lab %>
		</div>
		<div class = "col-md-1">
				<%= Topic.find_by(:topic_id => flagquestions.topic_id).name %>
			</div>
			<div class = "col-md-3">
				<%= flagquestions.date_submitted.strftime("Submitted on: %a %b %-d at %I:%M%p") %>
			</div>
		<div class = "col-md-1">
			<%= link_to "View", {controller: "questions", action: "flagview", id: flagquestions.id}, class: "btn btn-mdall btn-success" %>
		</div>
		<div class = "col-md-3">
			<% if flagquestions.grade == "Review Pending" || flagquestions.grade == "Correct" || flagquestions.grade == "Incorrect" %>
				<%=flagquestions.grade.html_safe %>
			<% else %>
				<p> <%=flagquestions.grade.html_safe %> </p>
			<% end %>
		</div>
	</div>
<% end %>

