<% if flagquestions.visible %>
	<div class = "row">
		<div class = "col-mid-2">
		<h3>Question</h3>
			<%=flagquestions.qtext.html_safe%>
		</div>
		<div class = "col-mid-2">
			<% if flagquestions.exam %>
				Question chosen for exams
			<% end %>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-2 col-md-offset-1" <% if flagquestions.answer ==1 %> style = "border: 2px solid green" <% end %>>
			<h3>Answer1</h3>
			<%=flagquestions.a1text.html_safe%>
		</div>
		<div class = "col-md-2" <% if flagquestions.answer == 2 %> style = "border: 2px solid green" <% end %>>
			<h3>Answer2</h3>
			<%=flagquestions.a2text.html_safe%>
		</div>
		<div class = "col-md-2" <% if flagquestions.answer == 3 %> style = "border: 2px solid green" <% end %>>
			<h3>Answer3</h3>
			<%=flagquestions.a3text.html_safe%>
		</div>
		<div class = "col-md-2" <% if flagquestions.answer == 4 %> style = "border: 2px solid green" <% end %>>
			<h3>Answer4</h3>
			<%=flagquestions.a4text.html_safe%>
		</div>
		<div class = "col-md-2" <% if flagquestions.answer == 5 %> style = "border: 2px solid green" <% end %>>
			<h3>Answer5</h3>
			<%=flagquestions.a5text.html_safe%>
		</div>
	</div>
	</br>
	<%=flagquestions.grade.html_safe %></br>
	<% if !flagquestions.exam %>
		<%= link_to "Flag this question for exam", {controller: "questions", action: "flag", id: flagquestions.id}, class: "btn btn-mdall btn-success" %>
	<% else %>
		<%= link_to "Unflag this question for exam", {controller: "questions", action: "unflag", id: flagquestions.id}, class: "btn btn-mdall btn-danger" %>
	<% end %> 	
<% end %>

