<body>
	<% if markquestions.grade == "Review Pending" %>
		<div class = "row" style = "border-bottom: 1px solid black; padding: 5px;">
			<div class = "col-md-2">
				<% @student = User.find_by(:id => markquestions.user_id) %>
				<p><%= @student.lname %>, <%= @student.fname %></p>
			</div>
			<div class = "col-md-1">
				<% if !@student.assistant && !@student.instructor %>
					<p><%= @student.studentnumber %></p>
				<% end %>
			</div>
			<div class = "col-md-1">
				<%= @student.lab %>
			</div>
			<div class = "col-md-1">
				<%= Topic.find_by(:topic_id => markquestions.topic_id).name %>
			</div>
			<div class = "col-md-2">
				<%= markquestions.date_submitted.strftime("%a %b %-d at %I:%M%p") %>
			</div>
			<div class = "col-md-1">
				<%= link_to "Mark", {controller: "questions", action: "mark", id: markquestions.id}, class: "btn btn-mdall btn-success" %>
			</div>
		</div>
	<% else %>
		<div class = "row" style = "border-bottom: 1px solid black; padding: 5px;">
			<div class = "col-md-2">
				<% @student = User.find_by(:id => markquestions.user_id) %>
				<p><%= @student.lname %>, <%= @student.fname %></p>
			</div>
			<div class = "col-md-1">
				<% if !@student.assistant && !@student.instructor %>
					<p><%= @student.studentnumber %></p>
				<% end %>
			</div>
			<div class = "col-md-1">
				<%= @student.lab %>
			</div>
			<div class = "col-md-1">
				<%= Topic.find_by(:topic_id => markquestions.topic_id).name %>
			</div>
			<div class = "col-md-2">
				<%= markquestions.date_submitted.strftime("%a %b %-d at %I:%M%p") %>
			</div>
			<div class = "col-md-1">
				<%= link_to "View", {controller: "questions", action: "view", id: markquestions.id}, class: "btn btn-mdall btn-info" %>
			</div>
			<div class = "col-md-1">
				<%= link_to "Remark", {controller: "questions", action: "mark", id: markquestions.id}, class: "btn btn-mdall btn-warning" %>
			</div>
			<div class = "col-md-3">
				<% if !(markquestions.grade == "Correct" || markquestions.grade == "Incorrect") %>
					TA comment: <%=markquestions.grade.html_safe %>
				<% else %>
					<%=markquestions.grade.html_safe %>
				<% end %>
			</div>
		</div>
	<% end %>
</body>