<body>
	<% if markquestions.grade == "Review Pending" %>
		<div class = "row" style = "border-bottom: 1px solid black; padding: 5px;">
			<div class = "col-md-2">
				<% @user = User.find_by(:id => markquestions.user_id) %>
				Submitted by: <%= @user.lname %>, <%= @user.fname %> 
				<% if !@user.assistant && !@user.instructor %>
					Student Number: <%= @user.studentnumber %>
				<% end %>
			</div>
			<div class = "col-md-1">
				<%= @user.lab %>
			</div>
			<div class = "col-md-2">
				<%= Topic.find_by(:topic_id => markquestions.topic_id).name %>
			</div>
			<div class = "col-md-1">
				<%= link_to "Mark", {controller: "questions", action: "mark", id: markquestions.id}, class: "btn btn-mdall btn-success" %>
			</div>
		</div>
	<% end %>
</body>