	
<% @question = Question.find_by(:question_id => practices.question_id) %>
<div class = "row" style = "padding: 8px;">
	<%= @question.qtext.html_safe %>
</div>
<%= simple_form_for @current, :url => { :action => "submit" } do |f| %>
	<div class = "row" style = "padding: 8px;">
		<div class = "col-md-1">
			<p style = "margin: 0px;"> <%= f.radio_button :answer, 1  %>   a)</p>
		</div>
		<div class = "col-md-11">
			<%= @question.a1text.html_safe %>
		</div>
	</div>
	<div class = "row" style = "padding: 8px;">
		<div class = "col-md-1">
			<p style = "margin: 0px;"> <%= f.radio_button :answer, 2  %>   b)</p>
		</div>
		<div class = "col-md-11">
			<%= @question.a2text.html_safe %>
		</div>
	</div>
	<div class = "row" style = "padding: 8px;">
		<div class = "col-md-1">
			<p style = "margin: 0px;"> <%= f.radio_button :answer, 3  %>   c)</p>
		</div>
		<div class = "col-md-11">
			<%= @question.a3text.html_safe %>
		</div>
	</div>
	<div class = "row" style = "padding: 8px;">
		<div class = "col-md-1">
			<p style = "margin: 0px;"> <%= f.radio_button :answer, 4  %>   d)</p>
		</div>
		<div class = "col-md-11">
			<%= @question.a4text.html_safe %>
		</div>
	</div>
	<div class = "row" style = "padding: 8px;">
		<div class = "col-md-1">
			<p style = "margin: 0px;"> <%= f.radio_button :answer, 5  %>   e)</p>
		</div>
		<div class = "col-md-11">
			<%= @question.a5text.html_safe %>
		</div>
	</div>
	<%= f.hidden_field :practice_id, value: practices.practice_id %>
	<%= f.hidden_field :starttime, value: DateTime.now %>
	<%= f.submit "Submit", class: "btn btn-medium btn-success" %>
<% end %>