<% if questions.visible %>
	<div class = "row" style = "border-bottom: 1px solid black; padding: 5px;">
		<div class = "col-md-7">
			<%=questions.qtext.html_safe%>
		</div>
		<div class = "col-md-1">
			<%= link_to "View", {controller: "questions", action: "view", id: questions.id}, class: "btn btn-mdall btn-success" %>
		</div>
		<%if !questions.submitted %>
			<div class = "col-md-1">
				<%= link_to "Submit", {controller: "questions", action: "submit", id: questions.id}, class: "btn btn-mdall btn-success" %>
			</div>
			<div class = "col-md-1">
				<%= link_to "Delete", {controller: "questions", action: "hide", id: questions.id}, class: "btn btn-mdall btn-danger" %>
			</div>
			<div class = "col-md-1">
				<%= link_to "Edit", {controller: "questions", action: "edit", id: questions.id}, class: "btn btn-mdall btn-primary" %>
			</div>
		<% else %>
			<% if !(questions.grade == "Review Pending" || questions.grade == "Correct"
			 		|| questions.grade == "Incorrect") %>
				<div class = "col-md-1">
					<%= link_to "Edit", {controller: "questions", action: "edit", id: questions.id}, class: "btn btn-mdall btn-primary" %>
				</div>
				<div class = "col-md-1">
					<%= link_to "Resubmit", {controller: "questions", action: "submit", id: questions.id}, class: "btn btn-mdall btn-success" %>
				</div>
				<div class = "col-md-2">
					<%=questions.grade.html_safe %>
				</div>
			<% else %>
				<div class = "col-md-3">
					<%=questions.grade.html_safe %>
				</div>
			<% end %>
		<% end %>
		<div class = "col-md-1">
			<% if questions.exam %>
				Question chosen for exams
			<% end %>
		</div>
	</div>
<% end %>

