<div class = "row" style = "padding: 5px; margin-bottom: 5px;">	
	<div class = "col-md-3" style = "border-bottom: 1px solid black;">
		<p> <%= stats.name %> </p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p> <%= Practice.where(:topic_id => stats.id).count %> </p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p> <%= Practice.where(correct: true, :topic_id => stats.id).count %> </p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<% if !(Practice.where(:topic_id => stats.id).count == 0) %>
			<p> <%= (Practice.where(correct: true, :topic_id => stats.id).count*100/Practice.where(:topic_id => stats.id).count*100)/100 %> %</p>
		<% else %>
			<p> ~ N/A ~ </p>
		<% end %>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<% if !(Practice.where(:topic_id => stats.id).count == 0) %>
			<p> <%= (Practice.sum(:totaltime, :conditions =>{:topic_id => stats.id})*100/Practice.where(:topic_id => stats.id).count*100)/10000 %> seconds</p>
		<% else %>
			<p> ~ N/A ~ </p>
		<% end %>
	</div>
</div>