<br/>
</br>
</br>
<%= simple_form_for @topic, :url => { :action => "create" } do |f| %>
  <div class = "row">
    <div class = "col-sm-6">
      <%= f.label "Topic Name" %>
      <%= f.text_field :name%>
    </div>
  </div>
   <%= f.submit "Create Topic", class: "btn btn-medium btn-success" %>
<% end %>
<% if @topics.any? %>
	<div class="row", style = "border-bottom: 3px solid black;">
  		  <h3 style = "margin: 5px;"> All Topics </h3>
   	</div>
	<%= render partial: 'shared/topics', collection: @topics %>
<% end %>