<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Mulitple Choice Site", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <% if @user.instructor %>
              <li><%= link_to "Flag Questions", '/flag_questions', id: "brand"%></li>
              <li><%= link_to "Mark Questions", '/find_questions', id: "brand"%></li>
              <li><%= link_to "Topics", '/topics', id: "brand"%></li>
            <% end %>
            <% if @user.assistant %>
              <li><%= link_to "Mark Questions", '/find_questions', id: "brand"%></li>
              <li><%= link_to "Topics", '/topics', id: "brand"%></li>
            <% end %>
            <li><%= link_to "Practice", '/practices', id: "brand"%></li>
            <li><%= link_to "Your Questions", '/your_questions', id: "brand"%></li>
            <li><%= link_to "Account", edit_user_registration_path, id: "brand" %></li> 
            <li><%= link_to'Sign Out', destroy_user_session_path, :method => :delete, id:"brand" %>  </li>     
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path, id: "brand" %></li> 
            <li><%= link_to "Sign Up", "/terms", id: "brand" %></li>
            
          <% end %>
          

        </ul>
      </nav>
    </div>
  </div>
</header>